[data-theme="light"]
#web_bg{
	background: #ffffff;
}
[data-theme="dark"]
#web_bg{
	background: rgb(0, 0, 0);
}

/* 所有页面背景 */
 
[data-theme="light"]
#aside_content .card-widget{
	background: rgba(255,255,255);
}
[data-theme="dark"]
#aside_content .card-widget{
	background: rgba(0, 0, 0);
}

[data-theme="light"]
a.bacolor{
	color: rgb(0, 0, 0);
}
[data-theme="dark"]
a.bacolor{
	color: rgb(255, 255, 255);
}


[data-theme="light"]
#recent-posts>.recent-post-item{
	background: rgba(255,255,255);
}
[data-theme="dark"]
#recent-posts>.recent-post-item{
	background: rgba(0, 0, 0);
}

[data-theme="light"]
.layout_page>div:first-child:not(.recent-posts){
	background: rgba(255,255,255);
}
[data-theme="dark"]
.layout_page>div:first-child:not(.recent-posts){
	background: rgba(0, 0, 0);
}

[data-theme="light"]
.layout_post>#page, .layout_post>#post{
	background: rgba(255,255,255);
}
[data-theme="dark"]
.layout_post>#page, .layout_post>#post{
	background: rgba(0, 0, 0);
}

[data-theme="light"]
.read-mode .layout_post>#post{
    /* 以下代表透明度为0.5 */
    background: rgba(255,255,255);
}
[data-theme="dark"]
.read-mode .layout_post>#post{
    /* 以下代表透明度为0.5 */
    background: rgba(0, 0, 0);
}

/*侧边栏页面*/
#aside-content>.card-widget  {
	background: rgba(255,255,255);
}
#aside-content>.sticky_layout>.card-widget{
	background: rgba(255,255,255);
}
/*文章页面*/
[data-theme="light"]
.layout>#post{
	background: rgba(255,255,255);
}
[data-theme="dark"]
.layout>#post{
	background: rgba(0, 0, 0);
}

/*友链页面*/
[data-theme="light"]
.layout>#link{
	background: rgba(255,255,255);
}
[data-theme="dark"]
.layout>#link{
	background: rgba(0, 0, 0);
}

/*分类页面*/
[data-theme="light"]
.layout>#page{
	background: rgba(255,255,255);
}
[data-theme="dark"]
.layout>#page{
	background: rgba(0, 0, 0);
}

/*时间轴页面*/
[data-theme="light"]
.layout>#archive{
	background: rgba(255,255,255);
}
[data-theme="dark"]
.layout>#archive{
	background: rgba(0, 0, 0);
}