body,html {
	cursor:url(https://cdn1.tianli0.top/gh/Jayhrn/CDN/arrow.cur),auto!important
}
img {
	cursor:url(https://cdn1.tianli0.top/gh/Jayhrn/CDN/btn.cur),auto!important
}
a:hover {
	cursor:url(https://cdn1.tianli0.top/gh/Jayhrn/CDN/link.cur),auto
}
input:hover {
	cursor:url(https://cdn1.tianli0.top/gh/Jayhrn/CDN/input.cur),auto
}
button:hover {
	cursor:url(https://cdn1.tianli0.top/gh/Jayhrn/CDN/btn.cur),auto
}
i:hover {
	cursor:url(https://cdn1.tianli0.top/gh/Jayhrn/CDN/link.cur),auto
}
#footer-wrap a:hover {
	cursor:url(https://cdn1.tianli0.top/gh/Jayhrn/CDN/hf.cur),auto
}
#pagination .page-number:hover {
	cursor:url(https://cdn1.tianli0.top/gh/Jayhrn/CDN/i.cur),auto
}
#nav .site-page:hover {
	cursor:url(https://cdn1.tianli0.top/gh/Jayhrn/CDN/hf.cur),auto
}