@font-face {
  font-family: "iconfont"; /* Project id 3611074 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1676203640441') format('woff2'),
       url('iconfont.woff?t=1676203640441') format('woff'),
       url('iconfont.ttf?t=1676203640441') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xitongxiufu:before {
  content: "\e66f";
}

.icon-pinterest-line:before {
  content: "\e7c9";
}

.icon-github:before {
  content: "\e85a";
}

.icon-jianchagengxin:before {
  content: "\e62f";
}

.icon-yinle:before {
  content: "\e62d";
}

.icon-liuchengpingtai:before {
  content: "\e628";
}

.icon-wangyou:before {
  content: "\e600";
}

.icon-ziliaoku:before {
  content: "\e601";
}

.icon-guanli:before {
  content: "\e605";
}

.icon-pengyouquan:before {
  content: "\e62a";
}

.icon-banbengengxin:before {
  content: "\e62e";
}

.icon-dianyingpiao:before {
  content: "\e8c4";
}

.icon-guanyu:before {
  content: "\e622";
}

.icon-xiangce:before {
  content: "\e607";
}

.icon-a-Frame174:before {
  content: "\e606";
}

.icon-sevene:before {
  content: "\e604";
}

.icon-Safari:before {
  content: "\e673";
}

.icon-rili:before {
  content: "\e8cf";
}

.icon-pinglun1:before {
  content: "\e603";
}

.icon-bg-word:before {
  content: "\e63e";
}

.icon-fill_xiaohuomiao:before {
  content: "\e631";
}

.icon-a-16Cjishishizhong:before {
  content: "\e67c";
}

.icon-weizhi:before {
  content: "\e602";
}

.icon-24gf-tags3:before {
  content: "\e886";
}

.icon-lianjie:before {
  content: "\e60d";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-gitee:before {
  content: "\e60c";
}

