@font-face {
  font-family: "heofont";
  src: url('iconfont.eot?t=bacb567e723de4f974a48cad3ca9ed6f'); /* IE9 */
  src: url('iconfont.eot?t=bacb567e723de4f974a48cad3ca9ed6f#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=bacb567e723de4f974a48cad3ca9ed6f') format('woff2'),
  url('iconfont.woff?t=bacb567e723de4f974a48cad3ca9ed6f') format('woff'), /* chrome、firefox */
  url('iconfont.ttf?t=bacb567e723de4f974a48cad3ca9ed6f') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=bacb567e723de4f974a48cad3ca9ed6f#heofont') format('svg'); /* iOS 4.1- */
}

.heofont {
  font-family: "heofont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@font-face {
  font-family: "iconfont"; /* Project id 3611074 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1676203640441') format('woff2'),
       url('iconfont.woff?t=1676203640441') format('woff'),
       url('iconfont.ttf?t=1676203640441') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xitongxiufu:before {
  content: "\e66f";
}

.icon-pinterest-line:before {
  content: "\e7c9";
}

.icon-github:before {
  content: "\e85a";
}

.icon-jianchagengxin:before {
  content: "\e62f";
}

.icon-yinle:before {
  content: "\e62d";
}

.icon-liuchengpingtai:before {
  content: "\e628";
}

.icon-wangyou:before {
  content: "\e600";
}

.icon-ziliaoku:before {
  content: "\e601";
}

.icon-guanli:before {
  content: "\e605";
}

.icon-pengyouquan:before {
  content: "\e62a";
}

.icon-banbengengxin:before {
  content: "\e62e";
}

.icon-dianyingpiao:before {
  content: "\e8c4";
}

.icon-guanyu:before {
  content: "\e622";
}

.icon-xiangce:before {
  content: "\e607";
}

.icon-a-Frame174:before {
  content: "\e606";
}

.icon-sevene:before {
  content: "\e604";
}

.icon-Safari:before {
  content: "\e673";
}

.icon-rili:before {
  content: "\e8cf";
}

.icon-pinglun1:before {
  content: "\e603";
}

.icon-bg-word:before {
  content: "\e63e";
}

.icon-fill_xiaohuomiao:before {
  content: "\e631";
}

.icon-a-16Cjishishizhong:before {
  content: "\e67c";
}

.icon-weizhi:before {
  content: "\e602";
}

.icon-24gf-tags3:before {
  content: "\e886";
}

.icon-lianjie:before {
  content: "\e60d";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-heologo:before {
  content: "\e005";
}
.icon-bilibili-line:before {
  content: "\e006";
}
.icon-github-line:before {
  content: "\e007";
}
.icon-dribbble-line:before {
  content: "\e008";
}
.icon-pinterest-line:before {
  content: "\e009";
}
.icon-weibo-line:before {
  content: "\e00a";
}
.icon-facebook-circle-line:before {
  content: "\e00b";
}
.icon-bblogo:before {
  content: "\e00c";
}
.icon-copyright-line:before {
  content: "\e00d";
}
.icon-creative-commons-nd-line:before {
  content: "\e00e";
}
.icon-creative-commons-by-line:before {
  content: "\e00f";
}
.icon-creative-commons-nc-line:before {
  content: "\e010";
}
.icon-search-2-line:before {
  content: "\e011";
}
.icon-dashboard-fill:before {
  content: "\e012";
}
.icon-signal-tower-fill:before {
  content: "\e014";
}
.icon-train-line:before {
  content: "\e016";
}
.icon-apps-fill:before {
  content: "\e017";
}
.icon-chat-1-fill:before {
  content: "\e018";
}
.icon-dashboard-2-fill:before {
  content: "\e019";
}
.icon-wheelchair-fill:before {
  content: "\e01a";
}
.icon-close-fill:before {
  content: "\e01b";
}
.icon-disc-fill:before {
  content: "\e01c";
}
.icon-keyboard-box-fill:before {
  content: "\e01d";
}
.icon-moon-clear-fill:before {
  content: "\e01e";
}
.icon-side-bar-fill:before {
  content: "\e01f";
}
.icon-mail-line:before {
  content: "\e020";
}
.icon-tiktok:before {
  content: "\e021";
}
.icon-arrow-up-line:before {
  content: "\e022";
}
.icon-arrow-right-circle-fill:before {
  content: "\e023";
}
.icon-add-circle-fill:before {
  content: "\e024";
}
.icon-artboard-fill:before {
  content: "\e025";
}
.icon-checkbox-multiple-blank-fill:before {
  content: "\e026";
}
.icon-folder-5-fill:before {
  content: "\e027";
}
.icon-contacts-fill:before {
  content: "\e028";
}
.icon-clapperboard-fill:before {
  content: "\e029";
}
.icon-group-fill:before {
  content: "\e02a";
}
.icon-pencil-ruler-2-fill:before {
  content: "\e02b";
}
.icon-gift-2-fill:before {
  content: "\e02c";
}
.icon-pantone-fill:before {
  content: "\e02d";
}
.icon-price-tag-3-fill:before {
  content: "\e02e";
}
.icon-tools-fill:before {
  content: "\e02f";
}
.icon-rss-fill:before {
  content: "\e030";
}
.icon-algolia:before {
  content: "\e031";
}
.icon-calendar-todo-fill:before {
  content: "\e032";
}
.icon-refresh-line:before {
  content: "\e033";
}
.icon-panben:before {
  content: "\e034";
}
.icon-shield-user-fill:before {
  content: "\e035";
}
.icon-creative-commons-fill:before {
  content: "\e036";
}
.icon-external-link-fill:before {
  content: "\e037";
}
.icon-link:before {
  content: "\e038";
}
.icon-restart-line:before {
  content: "\e039";
}
.icon-arrow-left-line:before {
  content: "\e03a";
}
.icon-arrow-right-line:before {
  content: "\e03b";
}
.icon-youxiangshuangjiantou:before {
  content: "\e03c";
}
.icon-file-word-fill:before {
  content: "\e03d";
}
.icon-wechat-2-fill:before {
  content: "\e03e";
}
.icon-fire-fill:before {
  content: "\e03f";
}
.icon-map-pin-fill:before {
  content: "\e040";
}
.icon-time-fill:before {
  content: "\e041";
}
.icon-timer-fill:before {
  content: "\e042";
}
.icon-menu-fill:before {
  content: "\e043";
}
.icon-map-2-line:before {
  content: "\e044";
}
.icon-jingxiao:before {
  content: "\e045";
}
.icon-weibo-fill:before {
  content: "\e046";
}
.icon-file-copy-fill:before {
  content: "\e047";
}
.icon-hand-heart-fill:before {
  content: "\e048";
}
.icon-plant-fill:before {
  content: "\e049";
}
.icon-qr-code-fill:before {
  content: "\e04a";
}
.icon-arrow-left-s-line:before {
  content: "\e04b";
}
.icon-arrow-down-s-line:before {
  content: "\e04c";
}
.icon-arrow-right-s-line:before {
  content: "\e04d";
}
.icon-arrow-up-s-line:before {
  content: "\e04e";
}
.icon-right:before {
  content: "\e050";
}
.icon-book-mark-fill:before {
  content: "\e051";
}
.icon-star-smile-fill:before {
  content: "\e052";
}
.icon-clipboard-fill:before {
  content: "\e053";
}
.icon-chat-new-fill:before {
  content: "\e054";
}
.icon-image-2-fill:before {
  content: "\e055";
}
.icon-image-add-fill:before {
  content: "\e056";
}
.icon-baidu-fill:before {
  content: "\e057";
}
.icon-window-fill:before {
  content: "\e058";
}
.icon-skip-back-fill:before {
  content: "\e059";
}
.icon-play-list-2-line:before {
  content: "\e05a";
}
.icon-skip-forward-fill:before {
  content: "\e05b";
}
.icon-download-cloud-fill:before {
  content: "\e05c";
}
.icon-play-fill:before {
  content: "\e05d";
}
.icon-pause-fill:before {
  content: "\e05e";
}
.icon-xiaxiangshuangjiantou:before {
  content: "\e05f";
}
.icon-spinner-solid:before {
  content: "\e060";
}
.icon-Home:before {
  content: "\e061";
}